@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/syntax-highlighting";

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Outfit", sans-serif;
}

#nprogress .bar {
  background: #fcba28 !important;
}
