@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/syntax-highlighting";

* {
  -webkit-tap-highlight-color: transparent;
}

p, span, a, code, li, input {
  font-family: "Outfit", sans-serif;
}

h1, h2, h3 {
  font-family: "Paytone One", sans-serif;
}

h2 a {
  font-family: "Paytone One", sans-serif;
}

#nprogress .bar {
  background: #fcba28 !important;
}
